openapi: '3.0.2'
info:
  title: Profile Service 
  description: This service allows for control of the system's profile
  version: "1.0"
  contact:
    name: Juan Alexis Luque Ayala
    email: juan.luque.ayala@gmail.com
servers:
  - url:  https://linkDeDeployInHeroku/

tags:
  - name: Profile
    description: Everything about profile
  
paths:
  #Modulo de Perfiles
  /profiles:
    get:
      tags:
        - Profile    
      summary: Find all profiles
      operationId: listProfiles
      responses:            
        '200':
          $ref: components/responses/responses.yml#/ShowProfiles         
        '404':          
          $ref: components/responses/responses.yml#/NotFound 
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 
               
    post:
      tags:
        - Profile    
      summary: Add a new profile to the system
      operationId: addProfile
      requestBody:
        description: Profile to add to the system
        content:
          application/json:
            schema:
              $ref: components/schemas/payloads/payload.yml#/ProfilePayload
      responses:      
        '201':
          $ref: components/responses/responses.yml#/CreatedProfile
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 
        '422':
          $ref: components/responses/responses.yml#/UnprocessableEntity 

  /profiles/{id}:
    get:
      tags:
        - Profile
      summary: Find a profile
      operationId: findProfile
      parameters:
        - $ref: components/parameters/parameters.yml#/id
      responses:
        '200':
          $ref: components/responses/responses.yml#/ShowProfile      
        '404':          
          $ref: components/responses/responses.yml#/NotFound 
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 
    put: 
      tags:
        - Profile
      summary: Update an existing profile
      operationId: updateProfile
      parameters: 
        - $ref: components/parameters/parameters.yml#/id
      requestBody:
        description: Profile to update to the system
        content:
          x-www-form-urlencoded:
            schema:
              $ref: components/schemas/payloads/payload.yml#/ProfilePayload
      responses:
        '201':
          $ref: components/responses/responses.yml#/CreatedProfile     
        '404':          
          $ref: components/responses/responses.yml#/NotFound 
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 
        '422':
          $ref: components/responses/responses.yml#/UnprocessableEntity           

    delete:
      tags:
        - Profile
      summary: Delete an existing profile
      operationId: deleteProfile
      parameters:
        - $ref: components/parameters/parameters.yml#/id
      responses:
        '200':
          $ref: components/responses/responses.yml#/DeleteProfile      
        '404':          
          $ref: components/responses/responses.yml#/NotFound 
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 

  /profiles/{id}/information:
    get:
      tags:
        - Profile
      summary: Get all information and permissions about a profile
      operationId: showInformationProfile
      parameters:
        - $ref: components/parameters/parameters.yml#/id
      responses:
        '200':
          $ref: components/responses/responses.yml#/ShowInformationProfile      
        '404':          
          $ref: components/responses/responses.yml#/NotFound 
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 
  /profiles/{id}/assign:            
    post:
      tags:
        - Profile    
      summary: Assignation modules and its permissions to an profile
      operationId: assignationPermissions
      requestBody:
        description: Id module and its permission with values
        content:
          application/json:
            schema:
              $ref: components/schemas/payloads/payload.yml#/ModulePayload
      responses:      
        '201':
          $ref: components/responses/responses.yml#/AssignationProfile       
        '404':          
          $ref: components/responses/responses.yml#/NotFound 
        '405':
          $ref: components/responses/responses.yml#/MethodNotAllowed           
        '401':
          $ref: components/responses/responses.yml#/Unauthenticated 
        '422':
          $ref: components/responses/responses.yml#/UnprocessableEntity 
    

# Aplicar la API key globalmente a todas las operaciones 
security:
  - Authorization: []
            

components:
      
  # SECURITY
  # Contiene todos los tipos de seguridad para el uso del servicio  
  securitySchemes:
    # AUTHORIZATION:
    # Permite el uso del servicio mediante el registro de una api key enviado en el header
    # con el nombre Authorization, por ejemplo: Authorization EJm9IExSA9rv3N9uCVfIhNRdNOMUSe8w
    # estas cadenas serán colocadas en el archivo de configuración del servicio y restringido mediante un middleware
    Authorization:
      type: apiKey
      name: Authorization
      in: header 